* {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, input, select, textarea, option {
  font: inherit;
}

input[type=text], input[type=password], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

.main {
  max-width: 95%;
  width: 500px;
  margin: 1em auto;
}

li {
  margin: 1em 0;
}

li span {
  margin: 0 .3em;
}

h1 {
  text-align: center;
}

.buttons {
  float: right;
}

span[class^="btn-"] {
  cursor: pointer;
}

.btn-submit, .card-meaning-input, .card-term-input {
  display: none;
}

.current .btn-edit {
  display: none !important;
}
.current .btn-submit {
  display: inline;
}
.current .card-term, .current .card-meaning {
  display: none;
}
.current .card-meaning-input, .current .card-term-input {
  display: inline-block;
}

.card-term-input {
  width: 20%;
  margin-right: .3em;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: gray;
}

#slider {
  max-width: 75%;
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
#slider .card-meaning {
  display: none;
}
#slider.toggle .card-term {
  display: none;
}
#slider.toggle .card-meaning {
  display: inline;
}
#slider > div {
  position: relative;
  top: 137px;
}
#slider .card-number, #slider .buttons, #slider input {
  display: none;
}

.slick-slide {
  text-align: center;
}
.slick-slide span {
  top: 50%;
  left: 50%;
  font-size: 5em;
  margin: 0;
}

#btn-close, #btn-change {
  position: absolute;
  left: 50%;
  transform: translateX(300px);
  top: 1em;
  color: #fff;
  font-size: 5em;
  z-index: 999;
  cursor: pointer;
}

#btn-change {
  transform: translateX(-50%);
}

.editing .btn-edit, .editing .btn-remove, .editing #newitem {
  opacity: .5;
  pointer-events: none;
}
.editing .current .btn-edit, .editing .current .btn-remove, .editing .current #newitem {
  pointer-events: auto;
  opacity: 1;
}

#cards {
  margin: 1em 0;
}
#cards li {
  padding: .5em 0;
  margin: 1px 0;
}
#cards li:hover, #cards li.current {
  background-color: #eee;
}

#cards li {
  position: relative;
}
#cards li:before {
  display: none;
  position: absolute;
  font-family: FontAwesome;
  content: "\f110";
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  left: 100%;
  margin-left: 3px;
}
#cards li:after {
  display: block;
  content: "";
  clear: both;
}

.main.processing #cards li.current:before {
  display: block;
}

#btn-close, #btn-change {
  display: none;
}

@media (min-width: 1025px) {
  #btn-close, #btn-change {
    display: block;
  }
}

/*# sourceMappingURL=core.css.map */
