@import "mixins";

// pre define
%clearFix:after { content: ""; display:block; clear: both; }

// code define
* { padding: 0; margin: 0;  }
* { @include box-sizing(border-box); }
*:before, *:after { @include box-sizing(border-box); }
ul, li { list-style: none; }
img { max-width: 100%; height: auto; }
a { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }
button, input, select, textarea, option { font: inherit; }
input[type=text], input[type=password], textarea { @include appearance(none); @include border-radius(0); }
html { -webkit-text-size-adjust: 100%; }


.main   {
  max-width: 95%;
  width: 500px;
  margin: 1em auto;
}
li {
  margin: 1em 0;;
}
li span{
  margin: 0 .3em;;
}
h1{
  text-align: center;
}
.buttons {
  float: right;
}
span[class^="btn-"]{
  cursor: pointer;
}
.btn-submit, .card-meaning-input, .card-term-input{
  display: none;
}

.current {
  //background-color: red;;

  .btn-edit {
    display: none !important;
  }
  .btn-submit {
    display: inline;
  }

  .card-term, .card-meaning {
    display: none;
  }
  .card-meaning-input, .card-term-input {
    display: inline-block;
  }

}

.card-term-input{ width: 20%; margin-right: .3em;}

.wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: gray;
}

#slider{
  max-width: 75%;
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;

  .card-meaning { display: none;}
  &.toggle {
    .card-term { display: none}
    .card-meaning { display: inline }
  }

  & > div {
    position: relative;
    top: 137px;
  }

  .card-number, .buttons, input{ display: none;}
}
.slick-slide {
  text-align: center;
  span {
    top: 50%;
    left: 50%;
    font-size: 5em;
  margin: 0;
  }
}
#btn-close, #btn-change {
  position: absolute;
  left: 50%;
  transform: translateX(300px);
  top: 1em;
  color: #fff;
  font-size: 5em;
  z-index: 999;
  cursor: pointer;
}
#btn-change{
  transform: translateX(-50%);
}

.editing {
  .btn-edit, .btn-remove, #newitem{
    opacity: .5;
    pointer-events: none;
  }
  .current {
    .btn-edit, .btn-remove, #newitem{
      pointer-events: auto;
      opacity: 1;

    }
  }
}

#cards{
  margin: 1em 0;

  li{
    padding: .5em 0;
    margin: 1px 0;
    &:hover, &.current { background-color: #eee }

  }



}
//body{
//  #cards{
//    min-height: 10em;
//    position: relative;
//    &:before{
//      display: none;
//      left: 50%;
//      top: 50%;
//      position: absolute;
//      //font-family: FontAwesome;
//      //content: "\f110";
//      //-webkit-animation: fa-spin 2s infinite linear;
//      //animation: fa-spin 2s infinite linear;
//      //font-size: 4em;
//      ////@include transform(translate (-50%, -50%));
//      //margin: -35px 0 0 -35px;
//      content: "";
//      width: 300px;
//      height: 300px;
//      background: url("../img/ajax-loader.gif") 50% 50%;
//      @include transform( translate(-50%, -50%));
//    }
//  }
//  &.loading #cards{
//    li{opacity: .4; pointer-events: none;}
//    &:before{
//      display: block;
//    }
//  }
//}


#cards {
  li {
    position: relative;
    &:before {
      display: none;
      position: absolute;
      font-family: FontAwesome;
      content: "\f110";
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
      left: 100%;
      margin-left: 3px;
    }
    &:after{
      display: block;
      content: "";
      clear: both;
    }
  }
}
.main{
  &.processing{
    #cards li.current:before{
      display: block;
    }
  }
}

#btn-close, #btn-change{
  display: none;
}
@media (min-width: 1025px) {
  #btn-close, #btn-change{
    display: block;
  }
}